
project_id = "yftvcixhifvrovwhtgtj"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[functions.send-verification-request]
verify_jwt = true

[functions.verify-business]
verify_jwt = false

[functions.send-verification-code]
verify_jwt = false

[functions.verify-phone-code]
verify_jwt = false

[functions.create-credit-payment]
verify_jwt = true

[functions.create-checkout-session]
verify_jwt = true

[functions.create-subscription]
verify_jwt = true

[functions.send-notification]
verify_jwt = true

[functions.process-payment]
verify_jwt = false

[functions.process-payment-refund]
verify_jwt = false

[functions.webhook]
verify_jwt = false

[functions.stripe-webhook]
verify_jwt = false

[functions.check-subscription]
verify_jwt = true

[functions.create-checkout]
verify_jwt = true

[functions.customer-portal]
verify_jwt = true

[functions.geocode-city]
verify_jwt = false

[functions.send-review-request]
verify_jwt = true

[db]
port = 54322
shadow_port = 54320
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "IPv6"
max_header_length = 4096

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"
openai_api_key = "env(OPENAI_API_KEY)"


[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://127.0.0.1:3000"]
jwt_expiry = 3600
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false
max_frequency = "1s"

[auth.sms]
enable_signup = false
enable_confirmations = false
max_frequency = "5s"

[auth.external.apple]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.azure]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.bitbucket]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.discord]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.facebook]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.figma]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.github]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.gitlab]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.google]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.keycloak]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.linkedin]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.notion]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.twitch]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.twitter]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.slack]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.spotify]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.workos]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[auth.external.zoom]
enabled = false
client_id = ""
secret = ""
url = ""
redirect_uri = ""

[edge_runtime]
enabled = true
policy = "per_worker"
inspector_port = 8083

[analytics]
enabled = false
port = 54327
vector_port = 54328
