


@keyframes clockwise-highlight {
  0% { 
    fill: white; 
  }
  20% { 
    fill: #3b82f6; 
  }
  80% { 
    fill: #3b82f6; 
  }
  100% { 
    fill: white; 
  }
}

.period {
  animation: clockwise-highlight 0.5s;
  animation-delay: 0.4s;
}

.arm-right {
  animation: clockwise-highlight 0.5s;
  animation-delay: 0s;
}

.arm-bottom-right {
  animation: clockwise-highlight 0.5s;
  animation-delay: 0.1s;
}

.arm-bottom-left {
  animation: clockwise-highlight 0.5s;
  animation-delay: 0.2s;
}

.arm-top-left {
  animation: clockwise-highlight 0.5s;
  animation-delay: 0.3s;
}


